.background-container {
  position: relative;
  height: 90vh;
  /* Full height of the viewport */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #002754;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  /* Ensure padding doesn't affect width */
}

.centered-content {
  z-index: 1;
  color: white;
  height: auto;
  text-align: center;
  justify-content: center;
}


.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: white;
  padding: 40px 20px;
  height: auto;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

.selection-port {
  background-color: aqua;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 4px;
  margin-bottom: 20px;
}

.super-man {
  height: 193px;
  width: 193px;
  display: flex;
  border-radius: 50%;
}

.describe-section {
  width: 100%;
  max-width: 800px;
  margin-top: 10px;
}

.first-overview {
  font-size: 24px;
}

.black-text {
  color: #00ffff;
  font-weight: 600;
  background-color: transparent !important;
}

.super-cv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.super-cv a button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.super-cv a button:hover {
  background-color: #002754;
}

.black-text {
  color: #00ffff;
  font-weight: 600;
  background-color: transparent !important;
}

.super-admin {
  width: 100%;
  height: auto;
  box-shadow: 0px 40px 20px 20px rgba(0, 0, 255, 0.5);
 border-radius: 5px;
}

.main-section {
  padding: 0 20px;
}

.super-text {
  color: #09cdcd;
  font-size: 2rem;
  font-size: 500;
  margin: 0;
}

.section-bloger {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 600;
}

.skills-blonging {
  margin: 0 !important;
}

.seeking-section {
  color: #555;
  font-weight: 400;
  font-size: 16px;
}

.skill-text {
  color: #09cdcd;
  font-size: 18px;
  margin: 0;
  font-weight: 600;
}

.about-sector {
  padding: 30px 0;
}

.icon-text-container {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
}


.slode-data {
  background-color: aqua;
  padding: 50px;
}

.super-sliding {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.educat_section{
  background-color: white;
  padding: 70px;
}

.heading-with-border {
  position: relative;
  font-size: 36px;
  font-weight: 400;
  color: black;
  text-align: center;
}

.heading-with-border::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
  width: 50%;
  height: 8px;
  background-color: #00cbcb;
}
.super-about{
  padding: 30px 0;
}

.education-alllied {
  background-color: white;
  padding: 50px;
}

.alllied {
  background-color: #f8f9fa;
}

.portfolio-sliding {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

@media screen and (max-width:1024px) {
  .background-container {
    padding: 177px 0px;
  }
}

@media screen and (max-width:768px) {
  .main-section {
    padding: 20px 0px;
  }
  .selection-port {
    height: 150px;
    width: 150px;
  }

  .super-man {
    height: 143px;
    width: 143px;
  }

  .first-overview {
    font-size: 1.5rem;
  }

  .super-cv {
    padding: 20px;
  }

  .section-bloger {
    font-size: 1.5rem;
  }

  .super-text {
    font-size: 1.7rem;
  }

  .container,
  .container-sm {
    max-width: 100% !important;
  }

  .super-admin {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 255, 0.5);
    /* Blue shadow */
    border-radius: 5px;
  }
}

@media screen and (max-width:704px) {
  .section-bloger {
    font-size: 1.3rem;
  }

  .super-text {
    font-size: 1.6rem;
  }
}

@media screen and (max-width:727px) {
 
  .main-header {
    padding: 20px;
  }

  .education-alllied {
    padding: 20px !important;
  }
}

@media screen and (max-width:636px) {
  .section-bloger {
    font-size: 1.2rem;
  }

  .super-text {
    font-size: 1.5rem;
  }
}

@media screen and (max-width:575px) {
  .section-bloger {
    font-size: 1.1rem;
  }

  .super-text {
    font-size: 1.3rem;
  }
}

@media screen and (max-width:520px) {
  .section-bloger {
    font-size: 1rem;
  }

  .super-text {
    font-size: 1.2rem;
  }
}

@media screen and (max-width:479px) {
  .section-bloger {
    font-size: 1rem;
  }

  .super-text {
    font-size: 1rem;
  }
  .educat_section{
    padding: 80px 20px;
  }
}

@media screen and (max-width:425px) {
 
  
  .section-bloger {
    font-size: 1.4rem;
  }
  .first-overview{
    font-size: 1.5rem;
  }

  .super-text {
    font-size: 1.6rem;

  }
}

@media screen and (max-width:370px) {

  .section-bloger {
    font-size: 1.1rem;
  }
  .first-overview{
    font-size: 1.2rem;
  }

  .super-text {
    font-size: 1.4rem;

  }

}
@media screen and (max-width:320px) {
  .icon-text-container{
    gap: 10px;
  }
}